<p id="notice"><%= notice %></p>

<p>
  <strong>Population:</strong>
  <%= @result.population_id %>
</p>

<p>
  <strong>Concentration:</strong>
  <%= @result.concentration %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
